*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
header{
    background-color: rgb(174, 183, 186);
    

}
nav{
  display: flex;
  flex-direction: row;
  


  
  
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 20px;
   

}
nav ul li{
    border:1px solid black;
    margin:10px 15px;
    padding: 5px 0px;
    border-radius: 5px;
   
   
}
nav ul li :hover{
    background-color: rgb(204, 209, 209);
}
nav ul li a {
    text-decoration: none;
    color:white;
    padding: 5px;
    border-radius: 5px;
   
}
nav img{
    margin:10px;
}


